<section class="contact-section">
  <div class="content-wrapper p-4 p-md-5">
    <div class="row">
      <div class="col-md-6">
        <h2 class="title">
          Need to get in touch with the team? Drop us a line!
        </h2>
        <p class="sub-title">
          Whether you have questions about a specific project or have a couple
          questions, we are here to help! Feel free to reach out and we will
          answer the questions you may have.
        </p>
        <div class="text-center">
          <img class="img-fluid" src="assets/images/contact/glob.webp" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-container p-4">
          <form>
            <div class="mb-3">
              <label class="form-label"> Full Name </label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label class="form-label"> Email </label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>
            <div class="mb-3 form-check ps-0">
              <label for="exampleInputPassword1" class="form-label">
                What can we help you with?
              </label>
              <select class="form-select" aria-label="Default select example">
                <option selected></option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="mb-3 form-check ps-0">
              <label class="form-label"> Additional Message </label>
              <textarea class="form-control" name="" id="" rows="3"></textarea>
            </div>
            <button type="submit" class="btn py-2 submit-btn w-100">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
