<section class="hero-section">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="info-container">
        <div class="info-wrapper">
          <h2 class="info-title">
            A customizable data collection solution for community-based and
            self-reported insights.
          </h2>
          <p class="info-sub-title">
            Empower citizens, students, research participants and field teams to
            submit data and receive rewards.
          </p>
          <button class="btn btn-success px-4 py-2">Learn More</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center pt-4 pt-md-0">
      <img class="hero-image" src="assets/images/hero/hero-image.webp" alt="" />
    </div>
  </div>
</section>
