<section class="products-section">
  <div class="content-wrapper">
    <header>
      <h2>Our Products</h2>
      <p>
        3-Key Tools Our Products Poket has three key tools that enable
        contributors to enter data and project teams to screen and visualize it
        in real time.
      </p>
      <div class="my-4">
        <button class="btn btn-success px-4 py-2">Learn More</button>
        <button class="btn btn-outline-success px-4 py-2 ms-2">
          Request Demo
        </button>
      </div>
    </header>
    <div class="mt-5">
      <img
        class="img-fluid"
        src="assets/images/products/mobile-with-map.webp"
        alt=""
      />
    </div>
  </div>
</section>
