<section class="service-section">
  <div class="row">
    <div class="col-md-6 service-introduction">
      <h2 class="title">How Does Poket Work?</h2>
      <p class="details">
        Poket works with organizations and researchers to customize a suite of
        mobile tools that they can use to crowdsource data for a project or
        program.
      </p>
    </div>
    <div class="col-md-6 service-list">
      <div class="media d-flex">
        <div class="flex-shrink-0">
          <img
            width="80"
            src="assets/images/service/share-needs-icon.webp"
            alt=""
          />
        </div>
        <div class="flex-grow-1 ms-3">
          <h4 class="title">1. Share Your Needs</h4>
          <p class="details">
            Tell us what your data collection project is all about. We’ll
            customize a suite of mobile and desktop apps for your needs.
          </p>
        </div>
      </div>
      <div class="media d-flex">
        <div class="flex-shrink-0">
          <img
            width="65"
            src="assets/images/service/empower-your-contribute.webp"
            alt=""
          />
        </div>
        <div class="flex-grow-1 ms-3">
          <h4 class="title">2. Empower Your Contributors</h4>
          <p class="details">
            Put our tools in the hands of your data contributors. They will
            receive points that can be converted to rewards based on your
            verification of their work.
          </p>
        </div>
      </div>
      <div class="media d-flex">
        <div class="flex-shrink-0">
          <img
            width="65"
            src="assets/images/service/visualized-data.webp"
            alt=""
          />
        </div>
        <div class="flex-grow-1 ms-3">
          <h4 class="title">3. Access New Insights</h4>
          <p class="details">
            We'll build out a custom dashboard for you to visualize, filter,
            monitor and download the data as it's collected in real-time.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
